$section-color: #ffd800;
$teal: #008080;
$slider-content-border: rgba(255, 255, 255, 0.5);
$white: #fff;
$article-border-bottom: #ccc;

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  section {
    background: $section-color;
    max-width: 1300px;
    margin: auto;
    padding: 20px;

    .logo {
      transform: translateX(-87px);
    }

    a {
      float: right;
      padding: 3px 0;
    }
  }
}

@media (max-width: 1515px) {
  header section {
    max-width: 100%;
  }
}

* {
  outline: none;
}

button {
  background: $teal;
  border: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  text-transform: uppercase;
  transition: all 0.5s ease;
  padding: 15px 40px;
}

button:hover {
  color: $white;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.wrapper {
  box-sizing: border-box;
  max-width: 1335px;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.slide {
  background-size: cover !important;
  height: 70vh;
}

.slide::before {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.previousButton,
.nextButton {
  background: url("../img/arrow.svg") no-repeat center center / 16px;
  cursor: pointer;
  height: 128px;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  z-index: 10;
}

.previousButton {
  left: 0;
  transform: rotate(180deg) translateY(calc(50%));
}

.nextButton {
  right: 0;
}

.previousButton:hover,
.nextButton:hover {
  background: url("../img/arrow.svg") no-repeat center center / 16px;
}

.previousButton:hover {
  left: -2px;
}

.nextButton:hover {
  right: -2px;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  box-sizing: border-box;
  left: 50%;
  padding: 0 70px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.slide h1 {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-20px);
}

.slide button {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(20px);
}

.slide p {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(20px);
}

.slide section * {
  transition: all 0.3s ease;
}

.slider-content .inner button {
  transition-delay: 0s;
}

.slider-content .inner h1 {
  color: $white;
  font-weight: 900;
  font-size: 64px;
  line-height: 1;
  margin: 0 auto;
  max-width: 840px;
}

.slider-content .inner p {
  color: $white;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.slider-content section {
  bottom: 20px;
  position: absolute;
  left: 20px;
}

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-size: 12px;
  line-height: 1.4;
  margin-left: 10px;
  text-align: left;
  vertical-align: middle;
}

.slider-content section img {
  border: solid 2px $slider-content-border;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.slider-content section span strong {
  color: $white;
  display: block;
  font-size: 14px;
}

@media (max-height: 500px) {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

.slide section img {
  opacity: 0;
  transform: translateX(-10px);
}

.slide section span {
  opacity: 0;
  transform: translateY(-10px);
}

.slide section span strong {
  opacity: 0;
  transform: translateY(10px);
}

.slide.animateOut h1 {
  transition-delay: 0.3s;
}

.slide.animateOut p {
  transition-delay: 0.2s;
}

.slide.animateOut section span {
  transition-delay: 0.1s;
}

.slide.animateOut section span strong {
  transition-delay: 0s;
}

.slide.animateIn.previous section img,
.slide.animateIn.next section img {
  transition-delay: 1.3s;
}

.slide.animateIn.previous section span,
.slide.animateIn.next section span {
  transition-delay: 1.4s;
}

.slide.animateIn.previous section span strong,
.slide.animateIn.next section span strong {
  transition-delay: 1.5s;
}

.slide.current p {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.9s;
}

.home-articles,
.search-articles {
  margin: 50px;

  .header {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 670px) {
    margin: 10px;
  }

  .recent {
    .article {
      width: 100%;
    }

    .img-wrapper {
      background-size: cover !important;
      height: 130px;
      width: 100%;
    }

    .inner {
      padding: 0 20px 10px 20px;
    }

    a {
      color: $teal;
    }

    .more,
    span i {
      font-size: 16px;
    }

    .title {
      display: block;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      max-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .featured {
    .article {
      border-bottom: 1px solid $article-border-bottom;
      float: left;
      margin-bottom: 40px;
      padding-bottom: 45px;
      width: 100%;

      .img-wrapper {
        background-size: cover !important;
        float: left;
        height: 220px;
        margin-right: 20px;
        width: 320px;
      }

      .author {
        display: block;
      }

      .description {
        padding: 0 20px 0 2px;
      }

      a {
        color: $teal;
        font-size: 25px;
      }

      @media only screen and (max-width: 670px) {
        .img-wrapper {
          height: 170px;
          width: 100%;
        }

        p {
          padding: 0;
        }
      }
    }
  }
}

.slide.current h1,
.slide.animateIn.previous h1,
.slide.animateIn.next h1,
.slide.current button,
.slide.animateIn.previous button,
.slide.animateIn.next button,
.slide.animateIn.previous p,
.slide.animateIn.next p,
.slide.current section *,
.slide.animateIn.previous section *,
.slide.animateIn.next section * {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.9s;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
  transition-delay: 1.1s;
}

.slide.animateIn.previous button,
.slide.animateIn.next button {
  transition-delay: 1.3s;
}

.slideshow-wrapper {
  height: 100%;
  position: absolute;
  top: -30%;
  width: 100%;
}

.pagination li.active {
  background-color: $teal;
}
